WSMPsrch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision: $Id: WSMPsrch.wsdl,v 1.5 2010/10/11 13:15:47 hpm Exp $ -->
<definitions name="WSMPsrch" targetNamespace="http://www.ebi.ac.uk/WSMPsrch"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ebi.ac.uk/WSMPsrch"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<documentation>WSMPsrch: The WSMPSrch service was retired on Dec. 30th 2009, see http://www.ebi.ac.uk/Tools/webservices/services/mpsrch for details of replacement services.</documentation>
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ebi.ac.uk/WSMPsrch"
			xmlns:tns="http://www.ebi.ac.uk/WSMPsrch"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
			<xsd:complexType name="inputParams">
				<xsd:all>
					<xsd:element name="program" type="xsd:string"
						nillable="false"/>
					<xsd:element name="database" type="xsd:string"
						nillable="false"/>
					<xsd:element name="matrix" type="xsd:string" nillable="true"/>
					<xsd:element name="summary" nillable="true" type="xsd:int"/>
					<xsd:element name="alignments" nillable="true" type="xsd:int"/>
					<xsd:element name="gapopen" type="xsd:int" nillable="true">
						</xsd:element>
					<xsd:element name="gap" type="xsd:int" nillable="true">
						</xsd:element>
					<xsd:element name="gapextend" type="xsd:int" nillable="true">
						</xsd:element>
					<xsd:element name="pam" type="xsd:int" nillable="true">
						</xsd:element>
					<xsd:element name="sort" type="xsd:string" nillable="true"/>
					<xsd:element name="annotation" type="xsd:string"
						nillable="true"/>
					<xsd:element name="async" type="xsd:boolean" nillable="true"/>
					<xsd:element name="email" type="xsd:string" nillable="false"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="data">
				<xsd:all>
					<xsd:element name="type" type="xsd:string"></xsd:element>
					<xsd:element name="content" type="xsd:string"></xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOf_xsd_string">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="WSArrayofFile">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="tns:WSFile[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="WSArrayofData">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="tns:data[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="WSFile">
				<xsd:all>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="ext" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</schema>
	</types>
	<message name="statusRequest">
		<part name="jobid" type="xsd:string"/>
	</message>
	<message name="statusResponse">
		<part name="status" type="xsd:string"/>
	</message>
	<message name="resultsRequest">
		<part name="jobid" type="xsd:string">
		</part>
	</message>
	<message name="resultsResponse">
		<part name="results" type="tns:WSArrayofFile"/>
	</message>
	<message name="pollRequest">
		<part name="jobid" type="xsd:string"/>
		<part name="type" type="xsd:string"/>
	</message>
	<message name="pollResponse">
		<part name="output" type="xsd:base64Binary"/>
	</message>
	<message name="runMPsrchRequest">
		<part name="params" type="tns:inputParams"/>
		<part name="content" type="tns:WSArrayofData"/>
	</message>
	<message name="runMPsrchResponse">
		<part name="jobid" type="xsd:string"/>
	</message>
	<portType name="WSMPsrch">
		<operation name="runMPsrch" parameterOrder="params content">
			<input name="runMPsrchRequest" message="tns:runMPsrchRequest"></input>
			<output name="runMPsrchResponse" message="tns:runMPsrchResponse">
				</output>
		</operation>
		<operation name="checkStatus" parameterOrder="jobid">
			<input name="statusRequest" message="tns:statusRequest"></input>
			<output name="statusResponse" message="tns:statusResponse"></output>
		</operation>
		<operation name="poll" parameterOrder="jobid type">
			<input name="pollRequest" message="tns:pollRequest"></input>
			<output name="pollResponse" message="tns:pollResponse"></output>
		</operation>
		<operation name="getResults" parameterOrder="jobid">
			<input name="resultsRequest" message="tns:resultsRequest"></input>
			<output name="resultsResponse" message="tns:resultsResponse"></output>
		</operation>
	</portType>
	<binding name="WSMPsrchSoapBinding" type="tns:WSMPsrch">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="poll">
			<soap:operation soapAction="http://www.ebi.ac.uk/WSMPsrch#poll"/>
			<input name="pollRequest">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</input>
			<output name="pollResponse">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</output>
		</operation>
		<operation name="runMPsrch">
			<soap:operation
				soapAction="http://www.ebi.ac.uk/WSMPsrch#runMPsrch"/>
			<input name="runMPsrchRequest">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</input>
			<output name="runMPsrchResponse">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</output>
		</operation>
		<operation name="checkStatus">
			<soap:operation
				soapAction="http://www.ebi.ac.uk/WSMPsrch#checkStatus"/>
			<input name="statusRequest">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</input>
			<output name="statusResponse">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</output>
		</operation>
		<operation name="getResults">
			<soap:operation
				soapAction="http://www.ebi.ac.uk/WSMPsrch#getResults"/>
			<input name="resultsRequest">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</input>
			<output name="resultsResponse">
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.ebi.ac.uk/WSMPsrch" use="encoded"/>
			</output>
		</operation>
	</binding>
	<service name="WSMPsrchService">
		<documentation>WSMPsrch: the WSMPSrch service was retired on Dec. 30th 2009, see http://www.ebi.ac.uk/Tools/webservices/services/mpsrch for details of alternative services.</documentation>
		<port name="WSMPsrch" binding="tns:WSMPsrchSoapBinding">
			<soap:address
				location="http://www.ebi.ac.uk/Tools/es/ws-servers/WSMPsrch"/>
		</port>
	</service>
</definitions>
